.Bpm {
  width: 10%;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  border: 1px solid #cccccc;
  background-color: #e3e3e3;
  margin-right: 10px;
  display: flex;
  flex-direction: column;

  h1 {
    margin-top: 0px;
    padding-bottom: 3px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: normal;
  }
}

.Bpm2 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
