.Knob {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 30px;
  background: #d9d9d9;

  &::before {
    position: absolute;
    top: calc(50% - 5px);
    display: block;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50px;
    background: #e3e3e3;
    left: 50%;
    margin: 8px 6px 6px 8px;
  }
}
