.Slider {
  position: relative;
  width: 100%;
  height: 4px;
  background: #d9d9d9;

  .thumb {
    top: -4px;
    position: absolute;
    width: 30px;
    height: 12px;
    border-radius: 5px;
    border: 4px solid #faa400;
    background-color: #faa400;
    // transition: all 0.1s ease;
  }
}
