.ToggleSwitch {
  padding-top: 25px;
  display: flex;
  justify-content: center;

  #outer-circle {
    //border: 1px solid #363636;
    background: #d9d9d9;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    position: relative;
    //margin-top: 25px;
    font-size: 0px;
  }

  #inner-circle {
    position: absolute;
    //border: 1px solid #363636;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    top: 50%;
    left: 50%;
    margin: -15px 0px 0px -15px;
  }

  #inner-circle2 {
    position: absolute;
    //background-color: black;
    border-radius: 50%;
    height: 4px;
    width: 4px;
    top: 50%;
    left: 50%;
    margin: -2px 0px 0px -2px;
  }

  &.sine {
    color: red;
  }
  &.square {
    color: green;
  }
  &.sawtooth {
    color: blue;
  }
  &.triangle {
    color: pink;
  }

  &.on {
    //background: #e0e0e0;
    #inner-circle2 {
      position: absolute;
      //background-color: #faa400;
      //border: 1px solid #787878;
      border-radius: 50%;
      height: 6px;
      width: 6px;
      top: 50%;
      left: 50%;
      margin: -3px 0px 0px -3px;
    }
    #outer-circle {
      //border: 1px solid #363636;
      background-color: #faa400;
      border-radius: 50%;
      height: 36px;
      width: 36px;
      position: relative;
      //margin-top: 25px;
      font-size: 0px;
    }
    #inner-circle {
      position: absolute;
      //border: 1px solid #363636;
      //background-color: #363636;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      top: 50%;
      left: 50%;
      margin: -10px 0px 0px -10px;
    }
  }
}

#WO {
  margin-top: 9px;
  margin-right: 8px;
  color: #363636;
}
#WO2 {
  margin-top: 9px;
  margin-left: 8px;
  color: #363636;
}
